<% @events.each_with_index do |event, index| %>

	<div data-hash="<%= @eventHashes[index] %>" class="event-block" draggable="true" ondragstart="dragEvent(event)" style="cursor:move;">
		<div class="row-fluid">
			<div class="span9">
				<b><span id="matchtitle-<%= @eventHashes[index] %>"><%= event['title'] %></span></b>
			</div>
			<div class="span3">
				<b><span id="matchduration-<%= @eventHashes[index] %>"><%= event['duration']/60 %></span></b> hours
			</div>
		</div>
				
		<div class="event-block-data event-block-inputs"> Inputs: 
		<% if event['inputs'].empty? %>
			No inputs
		<% else %>
			<% event['inputs'].split(',').each do |input| %> 
				<span><%= input %></span>
			<% end %>		
		<% end %>
		</div>

		<div class="event-block-data event-block-outputs"> Outputs: 
		<% if event['outputs'].empty? %>
			No outputs
		<% else %>
			<% event['outputs'].split(',').each do |output| %>
				<span><%= output %></span>
			<% end %>
		<% end %>
		</div>

	</div>
<% end %>