<% @events.each do |event| %>
	<div class="event-block" draggable="true" ondragstart="dragEvent(event)" style="cursor:move;">
		<div class="row-fluid" style="background: #C9C9C9;">
			<div class="span9">
				<span id="matchtitle"><b><%= event['title'] %></b></span>
			</div>
			<div class="span3">
				<span id="matchduration"><b><%= event['duration']/60 %></b></span> hours
			</div>
			<p> DRI: <%= event['dri'] %> </p>
			<p> Inputs: <%= event['inputs'] %> </p>
			<p> Outputs: <%= event['inputs'] %> </p>
		</div>
	</div>
<% end %>