<%= form_for @flash_team do |f| %>
  <% if @flash_team.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@flash_team.errors.count, "error") %> prohibited
      this flash team from being created:</h2>
    <ul>
    <% @flash_team.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :json %><br>
    <%= f.text_area :json %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
