<input type="hidden" id="authenticity_token" value="<%= form_authenticity_token %>"/>
<input type="hidden" id="flash_team_id" value="<%= @flash_team.id %>"/>
<input type="hidden" id="flash_team_name" value="<%= @flash_team.name%>"/>
<input type="hidden" id="uniq" value=""/>

<%= tag :meta, :name=> 'events_json', :content=> @events_json %>

<!--Main Layout-->
<div class="container-fluid" style="min-width: 1300px">
    <% if @in_author_view %>
    <h3> <%= @flash_team.name %> </h3>
    
    <div class="row-fluid">
        <input type="button" id="backBtn" value="Back" onclick="window.location='<%=flash_teams_path%>';"/>
        <input type="button" id="flashTeamStartBtn" value="Start"/>
        <input type="button" id="flashTeamEndBtn" value="End"/>
        <input type="button" id="addTimeBtn" value="Add Time" onclick="addTime()"/>
    </div>
    <br/>
    <div class="row-fluid">
        <div class="span3">
            <% if @author_runtime %>
            <div id="project-status-container" class="well">
               
               <a id="gFolder">Google Drive Folder</a>
               <p>Progress Status:</p>   
                <div class="progress progress-bar" style="background: #ffffff !important; border:solid 1px #c3c3c3;">
                    <div class="bar" style=" width: 0%; transition:width 1s linear;
                    -moz-transition:width 1s linear; 
                    -webkit-transition:width 1s linear; 
                    -o-transition:width 1s linear;" >
                    </div>
                </div>
              
            </div> 
            
              <div id="chat-box-container" class="well" >
                <script src='https://cdn.firebase.com/v0/firebase.js'></script>
                <script> var flash_team_id=<%= @flash_team.id %>; </script>
                
                <div id="messageList" style="overflow: auto;
                    overflow-x: hidden;
                    height: 250px;
                    position: relative;
                    overflow-y: auto;
                    word-wrap:break-word;
                    background: #ffffff;
                    resize:none;
                    border:solid 1px #c3c3c3;" > 
                </div>
                <div><h3></h3></div>
                <!-- <input type='text' id='nameInput' placeholder='Name' style="width:94%; "> -->
                <div><textarea type='text' id='messageInput' placeholder='Type your message here...' style="overflow: auto; 
                  overflow-y: auto;
                  word-wrap:break-word;
                  width: 96.5%;
                  resize:none;
                  padding:5px;
                  border:solid 1px #c3c3c3;"></textarea></div>
            </div>
           <!-- chat end -->

           <!--Add a file picker for the user to start the upload process -->
            <input type="file" id="filePicker" />
            <input type="button" id="authorizeButton" style="display: none" value="Authorize" />

           <div id="member-container" class="well" style="overflow-y:scroll;">
               <h3>Team Roles</h3>
                <form name='newMemberForm' autocomplete="on">
                    <div class="input-append">
                        <input class="span9" id="addMemberInput" type="text" placeholder="New Member" autocomplete="on">
                        <button class="btn" type="button" onclick="addMember()" id="addMemberButton">+Add</button>
                        <input type="submit" style="display:none">
                    </div>
                    <input type="text" name="enterAndReloadBugFix" style="display: none;"> 
                </form>

                <ul class = "nav nav-pills customPill" id="memberPills">
                    <!--Member Pills Appended Here in JS-->
                </ul>
            </div>
            <% else %>
            <div id="project-status-container" class="well" style="display: none;">
                
                <a id="gFolder">Google Drive Folder</a>
                <p>Progress Status:</p>   
                <div class="progress progress-bar" style="background: #ffffff !important; border:solid 1px #c3c3c3;">
                    <div class="bar" style=" width: 0%; transition:width 1s linear;
                    -moz-transition:width 1s linear; 
                    -webkit-transition:width 1s linear; 
                    -o-transition:width 1s linear;" >
                    </div>
                </div>
              
            </div> 
            
              <div id="chat-box-container" class="well" style="display: none;">
                <script src='https://cdn.firebase.com/v0/firebase.js'></script>
                <script> var flash_team_id=<%= @flash_team.id %>; </script>
                <div id="messageList" style="overflow: auto;
                    overflow-x: hidden;
                    height: 250px;
                    position: relative;
                    overflow-y: auto;
                    word-wrap:break-word;
                    background: #ffffff;
                    resize:none;
                    border:solid 1px #c3c3c3;" > 
                </div>
                <div><h3></h3></div>
                <!-- <input type='text' id='nameInput' placeholder='Name' style="width:94%; "> -->
                <div><textarea type='text' id='messageInput' placeholder='Type your message here...' style="overflow: auto; 
                  overflow-y: auto;
                  word-wrap:break-word;
                  width: 96.5%;
                  resize:none;
                  padding:5px;
                  border:solid 1px #c3c3c3;"></textarea></div>
            </div>
           <!-- chat end -->
        

            <div id="member-container" class="well" style="overflow-y:scroll;">
               <h3>Team Roles</h3>
                <form name='newMemberForm' autocomplete="on">
                    <div class="input-append">
                        <input class="span9" id="addMemberInput" type="text" placeholder="New Member" autocomplete="on">
                        <button class="btn" type="button" onclick="addMember()" id="addMemberButton">+Add</button>
                        <input type="submit" style="display:none">
                    </div>
                    <input type="text" name="enterAndReloadBugFix" style="display: none;"> 
                </form>

                <ul class = "nav nav-pills customPill" id="memberPills">
                    <!--Member Pills Appended Here in JS-->
                </ul>
            </div>
            
             <div id="search-events-container" class="well" style="overflow-y:scroll;">
               <!--<div class="btn btn-primary btn-large" id="promptbtn" style="margin:5px;">Prompt</div>
               <div id="dialog" title="Dialog Title">PROMPT</div>-->
                <div class="btn btn-primary btn-large" style="margin:5px;" onclick="newEvent([0, 0]);">Add Event</div>  
                <div class="input-append">
                    <input class="span9" id="searchEventsInput" type="text" placeholder="Search...">
                    <button class="btn" type="button" onclick="searchEvents()" id="searchEventsBtn">Go</button>
                </div>
                <div id="search-results"></div>
            </div>
            
           <% end %>
            
            <div id="diagram-container" class="well" style="display:none;" >
                <h3>Team Structure</h3>
            </div>
        </div>

        <div class="span9"> <!--Body Content-->
            <div id="timeline-container" class="well" style="overflow-x:scroll; overflow-y:scroll;">
                <h3>Timeline</h3>
                <div class="overlay" id="overlay" ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
            </div>
        </div>
    </div>
   
</div>
<% end %>
   
    
    <% if  @in_expert_view %>
    <h3> <%= @flash_team.name %> </h3>
    <script> var flash_team_name="<%= @flash_team.name %>";</script>
    <div class="row-fluid">
        <div class="span3"> <!--Sidebar content-->
<!--                     <div id = "title-container" class="well">
					<form name="titleForm" id="title_form">
						<input type = "text" id="flashTeamTitle" placeholder="New Flash Team" style="font-size:25px; height:40px">
					</form>
				</div> 
-->	
            <div id="project-status-container" class="well">
                
                
                <a id="gFolder">Google Drive Folder</a>
                <p>Progress Status:</p>   
                <div class="progress progress-bar" style="background: #ffffff !important; border:solid 1px #c3c3c3;">
                    <div class="bar" style=" width: 0%; transition:width 1s linear;
                    -moz-transition:width 1s linear; 
                    -webkit-transition:width 1s linear; 
                    -o-transition:width 1s linear;" >
                    </div>
                </div>
                
                <div><h4>Welcome <%= @user_name %>!</h4></div>
               
                
                <!--<h4> Your Task Starts In 1:20 </h4> -->
<!--
	<button class="btn" type="button" onclick="searchEvents()" id="projectDetailsButton">Project Details</button>
                 <svg width="2450" height="570">
                        <rect width="200" height="40" x="0" y="0" fill="white" style="stroke: #000000;"></rect>
                        <rect width="10" height="40" x="0" y="0" fill="green" class="project_status"></rect>
                    </svg>
         
-->             
                
                <div id="status-bar-container" >
                   <!-- <h4> Your Task Is </h4> -->
                </div>
               
            </div> 
                <div id="chat-box-container" class="well" >
                <script src='https://cdn.firebase.com/v0/firebase.js'></script>
                <script> var flash_team_id=<%= @flash_team.id %>; </script>
                
                <div id="messageList" style="overflow: auto;
                    overflow-x: hidden;
                    height: 250px;
                    position: relative;
                    overflow-y: auto;
                    word-wrap:break-word;
                    background: #ffffff;
                    resize:none;
                    border:solid 1px #c3c3c3;" > 
                </div>
                <div><h3></h3></div>
                <!-- <input type='text' id='nameInput' placeholder='Name' style="width:94%; "> -->
                <div><textarea type='text' id='messageInput' placeholder='Type your message here...' style="overflow: auto; 
                  overflow-y: auto;
                  word-wrap:break-word;
                  width: 96.5%;
                  resize:none;
                  padding:5px;
                  border:solid 1px #c3c3c3;"></textarea></div>
            </div>
           <!-- chat end -->
        </div>

        <div class="span9"> <!--Body Content-->
            <div id="timeline-container" class="well" style="overflow-x:scroll; overflow-y:scroll;">
                <h3>Timeline</h3>
                <div class="overlay" id="overlay" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
            </div>
        </div>
    </div>
   
</div>
<% end %>

<%= javascript_include_tag "authoring/gdrive" %>
<%= javascript_include_tag "application" %>
<%= javascript_include_tag "https://apis.google.com/js/client.js?onload=handleClientLoad" %>
<%= javascript_include_tag "https://apis.google.com/js/api.js"%>
